@import url("https://fonts.googleapis.com/css?family=Titillium+Web");

$home-image: url(../img/showcase.jpg);
$home-video: url(../img/showcase-video.mp4);
$background-color: #eee;
$highlight-color: #009fe3;

body,
div,
p,
span,
a,
h1,
h2,
h3,
h4 {
  -webkit-font-smoothing: antialiased;
  font-family: "Titillium Web", sans-serif;
}

@mixin easeOut {
	transition: all 750ms ease-out;
}

// Media Query Mixins
@mixin mediaSml {
  @media screen and (max-width: 499px) {
    @content;
  }
}

@mixin mediaMdm {
  @media screen and (min-width: 500px) {
    @content;
  }
}

@mixin mediaLrg {
  @media screen and (min-width: 700px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
