$testimonials: 3;
$testimonials-width: 380px;
$next: 10 / $testimonials;
$fade-speed: 8;

@for $i from 1 through $testimonials {
	$min: ((100/$testimonials)*$i);
	$max: (100/$testimonials);
	$left: 0;
	@if $i > 1 {
		$left: -($testimonials-width * $i) + $testimonials-width;
	}

	@keyframes testimonials-fade-in-out#{$i} {
		#{$min - $max}% {
			opacity: 0;
			left: $left;
		}
		#{($min - ($max / $fade-speed)*3)}% {
			opacity: 1;
		}
		#{$min - ($max / $fade-speed)}% {
			opacity: 1;
		}
		#{min(($min + $next - 0.00001), 99.99999)}% {
			opacity: 0;
			left: $left;
		}
		#{min(($min + $next), 100)}% {
			opacity: 0;
			left: -($testimonials-width * $testimonials);
		}
	}
}

.testimonials {
	position: relative;
	text-align: center;
	display: block;
	padding: 10px 0;
	margin: 0;
	width: $testimonials-width; // adjust with media queries
	overflow: hidden;

	> li {
		position: relative;
		text-align: justify;
		width: $testimonials-width - 5;
		color: #444;
		display: block;
		list-style: none;
		margin: 0 0 30px 0;
		padding: 0;

		> p {
			text-align: right;
			margin: 8px 0 0;
		}
	}
}

#testimonials-checkbox {
	display: none;

	+ label {
		display: inline-block;
		cursor: pointer;
		line-height: 22px;
		border-radius: 11px;
		background-color: $highlight-color;
		padding: 0 10px;
		font-size: 0.8em;
		color: #fff;
		margin-bottom: 20px;

		&:before {
			content: "Back";
		}
    }


	&:not(:checked) + label {
		&:before {
			content: "Read all my testimonials";
		}

		+ ul.testimonials {
			overflow: hidden;
			white-space: nowrap;
			vertical-align: middle;

			> li {
				margin: 0;
				opacity: 0;
				display: inline-block;
				white-space: normal;

				@for $i from 1 through $testimonials {
					&:nth-of-type(#{$i}) {
						animation: testimonials-fade-in-out#{$i} $testimonials*8s infinite;
					}
				}
			}
		}
	}
}

.testimonials-icon {
	display: inline-block;
	margin: 0 4px 4px 0;
	font-weight: 900;
	font-size: 72px;
	height: 46px;
	line-height: 109px;
	overflow: hidden;
	color: #ddd;
}
