$testimonials: 4;
//$testimonials-width: 380px; OG width
$testimonials-width: 100%;
$next: 10 / $testimonials;
$fade-speed: 8;

@for $i from 1 through $testimonials {
  $min: ((100 / $testimonials) * $i);
  $max: (100 / $testimonials);
  $left: 0;
  @if $i > 1 {
    $left: -($testimonials-width * $i) + $testimonials-width;
  }

  @keyframes testimonials-fade-in-out#{$i} {
    #{$min - $max}% {
      opacity: 0;
      left: $left;
    }
    #{($min - ($max / $fade-speed)*3)}% {
      opacity: 1;
    }
    #{$min - ($max / $fade-speed)}% {
      opacity: 1;
    }
    #{min(($min + $next - 0.00001), 99.99999)}% {
      opacity: 0;
      left: $left;
    }
    #{min(($min + $next), 100)}% {
      opacity: 0;
      left: -($testimonials-width * $testimonials);
    }
  }
}

.testimonials {
  position: relative;
  //width: $testimonials-width; // adjust with media queries
  text-align: left;
  display: block;
  padding: 0 2rem;
  margin: auto;
  overflow: hidden;

  > li {
    position: relative;
    list-style: none;
    margin-bottom: 30px;
    padding: 0;

    > .reference {
      margin-inline-start: 0;
      margin-inline-end: 0;
      margin-block-start: 2em;
      margin-block-end: 0;
      line-height: 1.5em;

      p {
        font-size: 1rem;
      }
    }

    > h4 {
      margin-top: 0.5rem;
    }
  }
}

#testimonials-checkbox {
  display: none;

  + label {
    display: inline-block;
    position: center;
    cursor: pointer;
    line-height: 22px;
    border-radius: 50px;
    background-color: $highlight-color;
    padding: 0.25rem 1rem;
    font-size: 0.8em;
    color: #fff;
    margin: 1rem;

    &:before {
      content: "Back";
    }
  }

  &:not(:checked) + label {
    &:before {
      content: "Read all my testimonials";
    }

    + ul.testimonials {
      overflow: hidden;
      white-space: nowrap;

      > li {
        opacity: 0;
        display: inline-block;
        white-space: normal;
        vertical-align: middle;

        @for $i from 1 through $testimonials {
          &:nth-of-type(#{$i}) {
            animation: testimonials-fade-in-out#{$i} $testimonials * 8s infinite;
          }
        }
      }
    }
  }
}

blockquote:before {
  content: open-quote;
}

blockquote:after {
  content: close-quote;
}

blockquote:before,
blockquote:after {
  display: inline-block;
  vertical-align: bottom;
  color: $highlight-color;
  font-size: 4em;
  top: 0.2em;
  position: relative;
}
